/*** reset ***********/
html,body,ul,ol,li,dl,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,a,img,label, figure, figcaption{margin:0;padding:0;border:0}
header, section, footer, aside, nav, article {display:block}
ul{list-style:none}
$color1:#000;
$color2:#fff;
$color3:#0563bf;
$color4:#d5d5d5;
$color5:#333;
$color6:#f2f2f2;
$color7:#b2b2b2;
$color8:#004d91;
$color9:#ffc72a;
$color10:#808080;
$color11:#d5d5d5;




* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:after,
	&:before{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;		
	}
}


html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%
}


body{
	font-family: "SegoeUIRegular";
	@include flexbox;
	flex-flow: column;
	font-display: swap;
	height: 100vh;
	@include font-size(1.4);
}

html, body{
	height: 100%
}


input,
textarea{
	font-family: "SegoeUIRegular";
	@include font-size(1.3);
	font-style: italic;
}

input:focus::-webkit-input-placeholder { color:transparent !important; }
input:focus:-moz-placeholder { color:transparent !important; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent !important; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent !important; } /* IE 10+ */


textarea:focus::-webkit-input-placeholder { color:transparent !important; }
textarea:focus:-moz-placeholder { color:transparent !important; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color:transparent !important; } /* FF 19+ */
textarea:focus:-ms-textarea-placeholder { color:transparent !important; } /* IE 10+ */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	//ie11
}

input::-moz-focus-inner{
	border: 0;
	padding: 0;
}



.outerwrapper{
	-webkit-flex: 1;
	flex: 1;
}





/*** standart classes *****/
p{color: #333;}

a{color:#020000}
h1, .title{
	color: $color3;
	font-size:2.4rem;
	@extend .bold;
	font-weight: normal;
}
h2{font-size:2.4rem}
h3{font-size:1.6rem}


*:focus{outline:none}

input::-moz-focus-inner{
	border: 0;
	padding: 0;
}


/* font-family: "SegoeUIRegular"; */
@font-face {
	font-family: "SegoeUIRegular";
	src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
	src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"),
	url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "SegoeUIBold"; */
@font-face {
	font-family: "SegoeUIBold";
	src: url("../fonts/SegoeUIBold/SegoeUIBold.eot");
	src: url("../fonts/SegoeUIBold/SegoeUIBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"),
	url("../fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}


/* font-family: "SegoeUIItalic"; */
@font-face {
	font-family: "SegoeUIItalic";
	src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot");
	src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SegoeUIItalic/SegoeUIItalic.woff") format("woff"),
	url("../fonts/SegoeUIItalic/SegoeUIItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "SegoeUILight"; */
@font-face {
	font-family: "SegoeUILight";
	src: url("../fonts/SegoeUILight/SegoeUILight.eot");
	src: url("../fonts/SegoeUILight/SegoeUILight.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SegoeUILight/SegoeUILight.woff") format("woff"),
	url("../fonts/SegoeUILight/SegoeUILight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "SegoeUISemiBold"; */
@font-face {
	font-family: "SegoeUISemiBold";
	src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.eot");
	src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SegoeUISemiBold/SegoeUISemiBold.woff") format("woff"),
	url("../fonts/SegoeUISemiBold/SegoeUISemiBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}


@font-face {
	font-family: 'CenturyGothic';
	src: url('../fonts/CenturyGothic.woff2') format('woff2'),
         url('../fonts/CenturyGothic.woff') format('woff'),
         url('../fonts/CenturyGothic.ttf') format('truetype')
}


.bold{
	font-family: "SegoeUIBold";
}

i, em, .italic{
	font-family: "SegoeUIItalic";
}



.tdn{
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

.tdu{
	text-decoration: underline;
	&:hover{
		text-decoration: none;
	}
}


.before{
	content: "";
	display: block;
	position: absolute;
}


.form-control {
   border: 1px solid $color3;
   border-radius: 0;
   margin-top: 0.6rem;
	font-size: 16px;
	&:focus,
	&:active{
		// border-color: $color5;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(222, 72, 111, 0.3)
	}
}


.flexbox{
	display: flex;
}


.owl-carousel{
	.owl-controls{
		position: absolute;
		width: 100%;
		top: 115px;
		.owl-buttons{
			.owl-prev,
			.owl-next{
				background: url(../images/prevnext.png) no-repeat left top;
				width: 65px;
				height: 65px;
				position: absolute;
			}
			.owl-prev{
				left: -110px;
			}
			.owl-next{
				// @include sprite;
				// .rotation(180deg);
				right: -110px;
			}
		}
	}
}


section{
	h1{
		text-align: center;
	}
}


.share{
	@include font-size(1.8);
	// color: $color8;
	font-family: "SegoeUIItalic";
	padding-bottom: 3.8rem;
	p{
		padding-bottom: 2rem;
	}
}



/* =header
---------------------------*/
.header{
	padding-top: 2rem;
	&__top{
		align-items: center;
		display: flex;
		.logo{
			color: $color10;
			flex-grow: 1;
			display: flex;
			align-items: center;
			a{
				margin-right: 2.7rem;
			}
		}
		.qsearch{
			form{
				display: flex;
			}
			.form-control{
				border: none;
				border-bottom: 1px solid #d5d5d5;
				font-size: 14px;
				margin: 0;
				height: 31px;
				text-align: center;
				color: $color3;
				&::-webkit-input-placeholder { color: $color3; }
				&:-moz-placeholder { color: $color3; } /* FF 4-18 */
				&::-moz-placeholder { color: $color3; } /* FF 19+ */
				&:-ms-input-placeholder { color: $color3; } /* IE 10+ */
			}
			.submit{
				@include sprite($icon-search-icon);
				background-color: #d5d5d5;
				border: none;
				height: 31px;
				cursor: pointer;
				width: 33px;
				&:hover{
					@include sprite($icon-search-icon-hover);					
				}
			}
		}
	}

	&__bottom{
		display: flex;
		align-items: center;
		.contacts{
			border-left: 3px solid $color11;
			flex-grow: 1;
			margin-top: 2rem;
			height: 32px;
			.tel{
				color: $color1;
				text-decoration: none;
				font-size: 1.8rem;
				margin-left: 8px;
				display: inline-block;
				margin-top: .3rem;
			}
			a:not(.tel){
				@extend .italic;
				border-bottom: 1px dashed rgba(0,0,0,0);
				color: $color3;
				margin-left: 1.4rem;
				text-decoration: none;
				&:hover{
					border-bottom: 1px dashed;
				}
			}
		}
	}

	&__nav{

	}
}

nav{
	border-top: 1px solid $color11;
	padding-top: 15px;
	width: 605px;
	.nav-tabs{
		display: flex;
		justify-content: center;
		& > li{
			margin: 0 1.8rem;
			position: relative;
			.subnav{
				text-align: right;
				font-family: 'CenturyGothic';
				// display: none;
				opacity: 0;
				right: 0px;
				padding-top: 30px;
				position: absolute;
				top: 5px;
				transition: opacity .3s;
				width: 210px;
				z-index: -1;
				// z-index: 10;

				&:before{
					@extend .before;
					background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAAAAAAevcqWAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiAgwUOxHqYziXAAAAVElEQVQI11XHMQ6AIAxA0U8xEqLS+5+PK+DgVIcCgbe9YCzsla01ytYvy9qmyFqWW22kNG+1gTJutQFl3JvPfi+Kv5fiH70OQGZRAJkND4CMckeAH57XKZMZd92pAAAAAElFTkSuQmCC") no-repeat right top;
					width: 15px;
					height: 15px;
					top: 15px;
					right: 16px;
				}
			}
			& > a{
				transition: .3s color ease-out;
				text-decoration: none;
				&:hover{
					color: $color3;
					border-bottom: 1px dashed;
				}
			}



			// 2level
			ul{
				border-radius: 10px;
				background-color: $color11;
				display: block;
				padding-bottom: 10px;
				padding-left: 10px;
				padding-top: 5px;
				li{
					margin-left: 0;
					padding: .5rem 1.6rem;
					a{
						color: $color1;
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
					}
					&.active{
						a, span{
							text-decoration: underline;
							cursor: default;
						}
					}
				}
			}
			// #2level


			&:hover{
				& > a{
					color: $color3;
					border-bottom: 1px dashed;
				}
				.subnav{
					opacity: 1;
					z-index: 2;
					display: block;
				}
			}
		}
	}
}
/* =/header
---------------------------*/

/* =breadcrumbs
---------------------------*/
.breadcrumbs{
	font-family: "SegoeUIItalic";	
	margin-top: 5.5rem;
	margin-bottom: 2.5rem;
	text-transform: lowercase;
	ul{
		li{
			display: inline-block;
			span{
				// color: $color5;
			}
			a{
				color: $color1;
				@extend .tdn;
			}
		}
	}
}
/* =/breadcrumbs
---------------------------*/


/* =main
---------------------------*/
.line{
	position: relative;
	&:after{
		@extend .before;
		border-bottom: 1px solid $color4;
		left: 50%;
		$w: 40%;
		width: $w;
		margin-left: -$w/2;
		bottom: 0;
	}	
}

h1{
	@extend .line;
	font-weight: normal;
	margin-bottom: 3rem;
	padding-bottom: 1.2rem;
	padding-top: 3rem;
	text-align: center;
	text-transform: uppercase;
}



.text{
	p{
		margin: 1.6rem 0;
	}
	ul{
		color: $color5;
		li{
			position: relative;
			&:before{
				content: "-";
				display: inline-block;
				padding-right: 4px;
			}
		}
	}
}


.text-center{
	text-align: center;
}

.more{
	@extend .italic;
	margin-top: 10px;
	&__link{
		border-bottom: 1px dashed rgba(0,0,0,0);
		color: $color3;
		text-decoration: none;
		&:hover{
			border-bottom: 1px dashed rgba(5,99,191,1);			
		}
	}
}


/* =listProducts
---------------------------*/
.listProducts{
	margin-top: 2rem;
	flex-wrap: wrap;
	justify-content: space-between;
	&__item{
		text-decoration: none;
		// flex-basis: 20%;
		figure{
			display: block;
			overflow: hidden;
			width: 205px;
			img{
				@include transition-param(transform);
				vertical-align: top;
			}
		}
		figcaption{
			// @include transition-param(background-color, color);
			transition: .3s background-color, color ease-out;
			display: flex;
			align-items: center;
			height: 4.6rem;
			padding-left: .9rem;
			background: #e6e6e6;
			color: $color5;	
			text-transform: uppercase;
			position: relative;
		}
		&:hover{
			img{
				transform: scale(1.1);
			}
			figcaption{
				background-color: $color3;
				color: $color2;
			}
		}
	}
}
/* =/listProducts
---------------------------*/



.gallery{
	margin-top: 2rem;
	flex-wrap: wrap;
	justify-content: space-between;
	img{
		vertical-align: top;
	}
	a{
		display: block;
		position: relative;
		overflow: hidden;
		opacity: .55;
		@include transition-param;
		&:after{
			@extend .before;
			@include transition-param;
			background: url(../images/zoom.png) no-repeat center;
			height: 59px;
			left: 50%;
			margin-left: -30px;
			margin-top: -30px;
			top: 50%;
			width: 59px;
			opacity: 0;
		}
		img{
			@include transition-param(transform);
		}
		&:hover{
			opacity: 1;
			&:after{
				opacity: 1;
			}
			img{
				transform: scale(1.1);
			}
		}
	}
}


.map{
	margin-top: 45px;
	#map{
		height: 500px;
	}
}



/* =feedback
---------------------------*/

/* =/feedback
---------------------------*/



label.error{
	display: none !important;
}

.form-control.error{
	border-color: red !important;
}