/* =catalog
---------------------------*/
.catalog{
	margin-top: -15px;
	margin-bottom: -25px;
	.gallery__item{
		width: 204px;
		margin:0 60px 30px 0;
		&:nth-child(5n){
			margin-right: 0;
		}
	}
	.flexbox{
		justify-content: flex-start;
	}

	&__title{
		font-size: 1.5rem;
		@extend .bold;
		color: $color3;
		text-transform: uppercase;
	}

	&-objects{
		figcaption{
			height: 7.2rem;
			font-size: 1.2rem;
		}
	}
}
/* =/catalog
---------------------------*/


.order,
.contact-page{
	hr{
		border: none;
		width: 460px;
		margin: 3rem auto;
		height: 1px;
		background: #d5d5d5;
	}

	a{
		color: $color3;
		@extend .tdn;
	}

	.feedback__form{
		margin-top: 3rem;
	}
}