.justifyleft {text-align:left !important; }
.justifyright {text-align:right !important; }
.justifycenter {text-align: center !important; }
.justifyfull {text-align:justify !important; }

img.justifyleft, table.justifyleft {float:left; margin-right:10px;margin-bottom:5px;}
img.justifyright, table.justifyright {float:right; margin-left:10px;margin-bottom:5px;}
img.justifycenter, table.justifycenter { display: block; margin-left: auto; margin-right: auto;}


main,
.text{
	padding-bottom: 2.5rem;	
	color: #333;
	h1{
		text-align: center;
		text-transform: uppercase;
		color: #0563bf;
		&:after{
			bottom: 6px;
		}
	}

	ul{
		list-style: none;
		li{
			position: relative;
			&:before{
				content: "-";
				margin-right: 5px;
			}
		}
	}

	p{
		margin: 20px 0;
	}

	strong{
		@extend .bold;
	}

	em, i{
		@extend .italic;
	}

	a{
		color: #0563bf;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}


	h2{
		font-family: "SegoeUIBold";
		font-size: 18px;
		font-weight: normal;
	}

	h3{
		font-family: "SegoeUIBold";
		font-size: 14px;
		font-weight: normal;
		margin-bottom: 0;
	}

	h4{
		font-family: "SegoeUIBold";
		font-size: 13px;
		font-weight: normal;
	}

	.gallery{
		margin: 4rem 0;
	}

	a{
		font-family: "SegoeUIItalic";
		&[href$=".pdf"],
		&[href$=".xls"],
		&[href$=".xlsx"],
		&[href$=".doc"],
		&[href$=".docx"]
		{
			background-repeat: no-repeat;
			background-position: left center;
			display: flex;
			align-items: center;
			min-height: 32px;
			padding-left: 38px;
		}
		&[href$=".pdf"]{
			background-image: url(../images/pdf.png);
		}
		&[href$=".xls"],
		&[href$=".xlsx"]{
			background-image: url(../images/doc.png);
		}
		&[href$=".doc"],
		&[href$=".docx"]{
			background-image: url(../images/xls.png);
		}
	}

	table{
		border-collapse: collapse;
		td{
			padding-top: 10px;
			padding-bottom: 10px;
		}

		&.table{
			margin: 1rem 0;
			td{
				border: 1px solid #d5d5d5;
				padding: 10px;
			}
		}
	}
}