.btn{
	$colorEnd : #287fa5 ;
	$colorStart : #8fc2d7;
	@extend .italic;
	@include gradient-vertical($colorStart, $colorEnd);
	border-radius: 3px;
	border: none;
	color: $color2;
	cursor: pointer;
	display: block;
	height: 36px;
	margin: 20px auto;
	text-transform: lowercase;
	width: 176px;
	&:hover{
		@include gradient-vertical($colorEnd, $colorStart);		
	}
}
		
.feedback{
	background-color: rgba(255, 255, 255, .8);
	font-size: 15px;
	margin-bottom: 1rem;
	.vcard{
		.name{
			display: none;
		}
		.adr{
			margin-top: 20px;
			margin-bottom: 10px;
		}
		.tel{
			text-decoration: none;
			margin-right: .5rem;
		}
		.email{
			margin-left: .5rem;
			@extend .tdn;
			// color: $color11;
		}
		p{
			font-size: 14px;
			line-height: 3;
		}
	}

	&__content{
		padding: 25px 0 10px;
	}
}

.feedback
{
	.container{
		max-width: 1070px;
		padding-bottom: 15px;
	}
	&__form{
		background: $color6;
		margin: 1.5rem auto 0;
		padding: 1rem;
		position: relative;
		.row{
			@include flexbox;
			justify-content: space-between;
			margin-top: 10px;
			position: relative;

			&:first-child{
				margin-top: 0;
			}
			input.form-control,
			textarea{
				// color: $color2;
				border: 1px solid $color3;
				font-size: 15px;
				padding-left: 1.5rem;
				padding-right: 1.5rem;
				transition: all .3s;
				&:disabled{
					cursor: default;
					@include placeholder(#ccc);
				}
			}


			input.form-control{
				@extend .italic;
				@include placeholder($color7);
				border-radius: 3px;
				height: 38px;
				padding-bottom: 4px;
				min-width: 352px;
				width: 32%;
				text-align: center;
			}

			textarea{
				border-radius: 3px;
				flex: 1;
				overflow: hidden;
				height: 8.5rem;
				@include placeholder($color7);
			}

			.error{
				border: 1px solid red !important
			}
		}

		.policy{
			margin-top: 20px;
		}

		#msg{
			// padding-right: 80px;
		}

		.sending,
		.thank{
			height: 238px;
			padding-top: 105px;
		}
	}
}


.policy{
	@extend .italic;
	color: $color3;
	text-align: left;
	a{
		@extend .tdn;
		color: $color4;
	}
}



.user-access + label {
	cursor: pointer;
	font-size: 14px;
}

.user-access:not(checked) {
	position: absolute;
	opacity: 0;
}
.user-access:not(checked) + label {
	a{
		color: $color3;		
	}
	color: #808080;
	display: block;
	position: relative; /* будем позиционировать псевдочекбокс относительно label */
	padding: 3px 0 0 40px; /* оставляем слева от label место под псевдочекбокс */
}
/* Оформление первой части чекбокса в выключенном состоянии (фон). */
.user-access:not(checked) + label:before {
	content: '';
	position: absolute;
	top: -2px;
	left: 1px;
	width: 28px;
	height: 28px;
	background-color: #fff;
	border: 1px solid $color3;
	border-radius: 3px;
	text-align: center;
}

/* Меняем фон чекбокса, когда он включен. */
.user-access:checked + label:before {
	// border-color: $color4;
}
/* Сдвигаем переключатель чекбокса, когда он включен. */
.user-access:checked + label:after {
	content: '*';
	position: absolute;
	top: -6px;
	left: 6px;
	width: 22px;
	height: 22px;
	font-size: 36px;
}


.sending{
	text-align: center;
	font-size: 17px;
	height: 207px;
	padding-top: 80px;
}



.visually-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}