/* =slider
---------------------------*/
.homecarousel{
	margin-top: 4.4rem;
	.item{
		img{
			display: block;
			height: auto;
			width: 100%;
		}
		.container{
			left: 50%;
			margin-left: -630px;
			padding-top: 6.5rem;
			position: absolute;
			text-align: center;
			text-transform: uppercase;
			top: 0;
		}
		.description{
			@include font-size(1.2);
			background-color: rgba(5, 99, 191, .9);
			color: $color2;
			line-height: 2;
			margin: 0 auto;
			padding: 2rem;
			width: 90%;
			p{
				color: inherit;
			}
		}

		.title{
			@include font-size(2.4);
			background-color: $color9;
			color: $color1;
			display: inline-block;
			line-height: 1;
			margin-top: 7%;
			padding: 1rem 12rem;
		}

		.more{ 
			@extend .bold;
			margin-top: 10%;
			&:before{
				content: "";
				display: block;
				width: 100%;
			}
			a{
				@include font-size(1.5);
				background-color: $color2;
				color: $color1;
				padding: 1rem 5.2rem;
				text-decoration: none;
				transition: .3s background-color, color ease-out;
				&:hover{
					color: $color3;
					background-color: $color9;					
				}
			}
		}
	}

	.owl{
		&-dots{
			@include justify-content(center);
			bottom: 2.8rem;
			display: flex;
			position: absolute;
			width: 100%;
			.owl-dot{
				border: 3px solid $color2;
				height: 15px;
				margin: 0 8px;
				width: 15px;
				@include rounded(50%);
				&.active{
					background: $color2;
				}
			}
		}
		&-nav{
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -585px;
			width: 1170px;
			top: 50%;
			.owl-{
				&prev,
				&next{
					background: url(../images/prevnext.png) no-repeat left top;
					height: 43px;
					position: absolute;
					width: 28px;
					&.disabled{
						opacity: .6;
					}
				}

				&next{
					right: 0;
					@include rotation(180deg);
				}
			}
		}
	}
}
/* =slider
---------------------------*/


.homepage{
	.row{
		margin-top: 15px;
	}

	.text{
		padding-bottom: 0;
	}
}


/* =clients
---------------------------*/
.clients{
	&__list{
		margin-top: 1.8rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		a{			
			align-items:center;
			justify-content: center;
			display: flex;
			height: 125px;
			border: 1px solid #ccc;
			width: 210px;
			text-align: center;
			&:hover{
				img{
					filter: grayscale(0);
				}				
			}
		}
		img{
			@include transition-param(filter);
			filter: grayscale(1);
		}
	}
}
/* =clients
---------------------------*/



/* =steps
---------------------------*/
@mixin size($size) {
	height: $size;
	width: $size;	
}

.steps{
	&__scheme{
		align-items: center;
		justify-content: space-around;
		margin-top: 6.5rem;
		position: relative;
		&:after{
			@extend .before;
			background: linear-gradient(to right, #ffffff 0%, #0563bf 50%, #fff 100%);
			height: 1px;
			top: 23px;
			width: 100%;
			z-index: -1;
		}
	}
	.num{
		@extend .bold;
		color: $color2;
		font-size: 2rem;
		font-weight: normal;
		position: relative;
		text-align: center;
		i{
			padding-top: .3rem;
			background: $color3;
			font-family: "SegoeUIRegular";
			font-style: normal;
			border-radius: 50%;
			display: block;			
		}
		p{
			font-family: "SegoeUIRegular";
			font-size: 1.4rem;
			left: -30px;
			position: absolute;
			top: -30px;
			white-space: nowrap;
		}

		a{
			color: $color3;
			@extend .tdn;
		}

		&-even{
			p{
				top: auto;
				bottom: -30px;
			}
		}

		&-small{
			i{
				@include size(3.5rem);				
			}
		}
		&-middle{
			i{
				@include size(4rem);
				padding-top: .5rem;
			}
			font-size: 2rem;
		}
		&-big{
			i{
				@include size(4.5rem);				
				padding-top: .7rem;
			}
			font-size: 2.2rem;
		}
	}
}



/* =steps
---------------------------*/

