/* =breadcrumbs
---------------------------*/
.breadcrumbs{
	font-family: "SegoeUIItalic";	
	margin-top: 5.5rem;
	text-transform: lowercase;	
	.breadcrumb{
		display: flex;
		color: $color7;
		li{
			display: inline-block;
			margin: 0 2px; 
			a{
				color: $color1;
				@extend .tdn;
			}
		}
		.active{
			color: $color15;
		}
	}
}
/* =/breadcrumbs
---------------------------*/


/* =share
---------------------------*/
.share{
	// margin: 2.5rem 0;
	text-align: center;
}
/* =/share
---------------------------*/




.partnersList{
	margin-bottom: -2rem;
	ul{
		display: flex;
		flex-wrap: wrap;
		li{
			flex-basis: 20%;
			margin-bottom: 2rem;
			&:before{
				display: none;
			}
			a{
				@extend .flexcenter;
				@extend .gray;
				border: 1px solid $color16;
				height: 126px;
				margin-right: 25px;
				width: 206px;
				img{
					vertical-align: top;
				}
			}			
		}
	}
}