/* =breadcrumbs
---------------------------*/
.breadcrumbs{
	font-family: "SegoeUIItalic";	
	margin-top: 5.5rem;
	text-transform: lowercase;	
	.breadcrumb,
	.B_crumbBox{
		display: flex;
		color: $color7;
		li{
			display: inline-block;
			margin: 0 2px; 
			a{
				color: $color1;
				@extend .tdn;
				&:hover{
					color: $color3;
				}
			}
		}
		.active{
			color: $color15;
			text-decoration: underline;
		}
	}
}
/* =/breadcrumbs
---------------------------*/


/* =share
---------------------------*/
.share{
	text-align: center;
}
/* =/share
---------------------------*/


/* =pagination
---------------------------*/
.pagination{
	text-align: center;
	justify-content: center;
	display: flex;
	// margin-bottom: 2.5rem;
	@extend .italic;
	.flexbox{
		border-top: 1px solid $color11;
		border-bottom: 1px solid $color11;
		padding: 14px 85px;

	}
	.ditto_page,
	.current,
	.sisea-current-page
	{
		@extend .flexcenter;
		$s: 24px;
		width: $s;
		height: $s;
		border-radius: 3px;	
		margin: 0 2px;
		text-decoration: none;	
	}
	.ditto_page{
		background-color: $color12;
		color: $color10;
		&:hover{
			text-decoration: none;
		}
	}
	.ditto_page:hover,
	.current,
	.sisea-current-page{
		background-color: $color8;
		color: $color2;
	}
	i.separator{
		margin: 0 7px;
	}
	a{
		@extend .tdn;
		&:hover{
			color: $color3;
		}
	}


	& ~ .share{
		margin-top: 25px;
		&:before{
			display: none;
		}
	}
}
/* =/pagination
---------------------------*/


.partnersList{
	margin-bottom: -2rem;
	ul{
		display: flex;
		flex-wrap: wrap;
		li{
			flex-basis: 20%;
			margin-bottom: 2rem;
			&:before{
				display: none;
			}
			a{
				@extend .flexcenter;
				@extend .gray;
				border: 1px solid $color16;
				height: 126px;
				margin-right: 25px;
				width: 206px;
				img{
					vertical-align: top;
				}
			}			
		}
	}
}


.logotype{
	display: block;	
	border: 1px solid $color8;
	margin-bottom: .8rem;
	padding: 4rem 0;
	text-align: center;
	img{
		vertical-align: top;
	}
}