.news{
	&__list{
		justify-content: space-between;
		padding-top: 1rem;
	}
	&__item{
		@extend .bold;
		flex-basis: 33.3%;
		color: $color8;
		text-align: center;
		text-transform: uppercase;
		filter: grayscale(1) brightness(230%);
		@include transition-param(filter);
		height: 308px;
		max-width: 350px;
		display: flex;
		align-items: center;
		a{
			height: 308px;
			border: 1px solid $color8;
			@extend .flexcenter;
			flex-direction: column;
			text-decoration: none;
		}
		&:hover{
			filter: grayscale(0);			
		}
	}

	&__title{
		color: $color8;
		font-size: 2.2rem;
		padding-bottom: 1.5rem;
		margin: 0 10px 1.3rem;
		position: relative;
		&:after{
			@extend .before;
			background: linear-gradient(to right, #ffffff 0%, #0563bf 50%, #fff 100%);
			height: 1px;
			bottom: 3px;
			width: 100%;
			z-index: -1;
		}
	}

	&__desc{
		color: $color8;
		padding: 0 2.8rem;
	}
}


.main{
	.news{
		&__list{
			justify-content: flex-start;
			flex-wrap: wrap;
		}
		&__item{
			margin-bottom: 3.8rem;
			margin-right: 105px;
			&:nth-child(3n){
				margin-right: 0;
			}
		}
	}
}