@media (max-width: 1199px){
	.feedback{
		&__form{
			.row input.form-control{
				min-width: auto
			}
		}
	}

	.footer{
		.info{
			padding: 0 20px;
		}

		.qsearch{
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}

@media (max-width: 1024px){
	.header{
		&__bottom{
			display: block;
			.contacts{
				text-align: center;
				border-left: none;
				margin-bottom: 1rem;
			}
		}
		&__nav{
			nav{
				width: 100%;
			}
		}
	}
}

@media (max-width: 991px){
	.footer{
		.flexbox{
			flex-wrap: wrap
		}
		.translift{
			flex-basis: 40%;
		}
		.info{
			flex-grow: 1;
		}

		.qsearch{
			flex-basis: 50%;
			padding-left: 30px;
			padding-right: 0;
		}

		.social{
			order: 3;
			flex-basis: 100%;
			margin-top: 2rem;
		}
	}
}

@media (max-width: 767px){
	.header{
		&__top{
			display: block;
			.logo{
				text-align: center;
				flex-direction: column;
				a{
					margin-bottom: 1rem;
				}
			}
			.qsearch{
				margin-top: 3rem;
				display: flex;
				justify-content: center;
				form{
					width: 50%;
				}
				.form-control{
					width: 100%;
					flex-grow: 1;
					border: 1px solid #d5d5d5;
				}
			}
		}

		&__bottom{
			.contacts{
				margin-top: 1.5rem;
				height: auto;
				a{
					display: inline-block;
					margin-top: 1rem;
					width: 100%;
					&:not(.tel){
						border-bottom: none;
						&:hover{
							text-decoration: underline;
							border-bottom: none;
						}
					}
				}
			}
		}
	}
}



@media (max-width: 630px){
	.feedback{
		&__form{
			.row{
				display: block;
				input.form-control{
					min-width: auto;
					width: 100%;
				}
				textarea{
					width: 100%;
					text-align: center;					
				}
			}
		}
	}


	.footer{
		&__bottom{
			text-align: center !important;
			.flexbox{
				display: block;
				& > div{
					margin-top: 1.5rem;
				}
			}
		}


		.translift,
		.info,
		.objects{
			flex-basis: 100%;
		}

		.translift{
			padding-left: 15px;
			padding-right: 15px;
		}
		.objects{
			.flexbox{
				margin-left: auto;
				margin-right: auto;
			}
		}

		.cattitle,
		.kreotif{
			text-align: center;
		}

		.qsearch{
			padding-bottom: 2rem;
			text-align: center;
			.flexbox{
				justify-content: center;
			}
		}

		.social{
			display: flex;
			text-align: center;
			a{
				&:after{
					display: none;
				}
			}
		}
	}
}


@media (max-width: 500px){
	.header{
		padding-top: 1rem;
		margin-bottom: -2rem;
		&__top{
			.qsearch{
				form{
					width: 80%;
				}
			}
			.logo{
				margin-left: 6rem;
				a{
					margin-right: 0;
				}
			}
		}
	}

	.feedback__form{
		padding-left: 0;
		padding-right: 0;
	}
}



@media (max-width: 350px){
	.header{
		&__top{
			.qsearch{
				form{
					width: 95%;
				}
			}
			.logo{
				margin-left: 0;
				margin-top: 0;
				a{
					transform: scale(.9);
					margin-right: 0;
					margin-left: 6rem;
				}
			}
		}
	}
}
