@media (max-width: 1399px){
	.news__list .news__item{
		margin-right: 25px;
		width: 250px;
	}

	.catalog .gallery__item{
		margin-right: 20px;
	}
}

@media (max-width: 1366px){
	.partnersList ul li a{
		margin-right: 14px;
	}

	.gallery a:not(.gallery__item){
		margin-right: 15px;
	}
}

@media (max-width: 1199px){
	.homecarousel{
		.owl-nav{
			$w: 1000px;
			margin-left: -$w/2;
			width: $w;
		}
		.item{
			.container{
				margin-left: auto;
				margin-right: auto;
				padding-top: 3rem;
				left: 0;
				width: 100%;
			}
		}
	}

	.homepage{
		.gallery{
			&__item, a{
				&:nth-child(5){
					display: none;
				}
			}
		}
	}


	.clients__list{
		a{
			margin-bottom: 2rem;
			&:nth-child(5){
				display: none;
			}
		}
	}


	.news__item{
		padding-right: 3rem;
		height: 270px;
		a{
			height: 100%;
		}
	}

	.news{
		.news__item{
			&:nth-child(3){
				padding-right: 0;
			}
		}
	}


	.news__list .news__item{
		margin-right: 0;
	}


	// sertificats
	.sertificatsList,{
		.gallery__item{
			margin-bottom: 1.5rem;
		}
	}


	// catalog
	.catalog{
		.flexbox{
			justify-content: space-around;
		}
		.gallery__item{
			&:nth-child(5n){
				margin-right: 20px;
			}
		}
	}
}




@media (max-width: 1050px){
	.homecarousel{
		.owl-nav{
			$w: 900px;
			margin-left: -$w/2;
			width: $w;
		}
		.item{
			.title{
				margin-top: 4%;
			}
		}
	}
}


@media (max-width: 1024px){
	.homecarousel{
		margin-top: 2rem;
	}

	.gallery-card,
	.partnersList ul{
		justify-content: space-around
	}
}


@media (max-width: 991px){
	.homepage{
		.gallery{
			justify-content: space-around;
			&__item, a{
				margin-bottom: 3.5rem;
				&:nth-child(5){
					display: block;
				}
			}
		}
	}

	.clients__list{
		justify-content: space-around;
		a{
			&:nth-child(5){
				display: flex;
			}
		}
	}
	// sertificats
	.sertificatsList{
		justify-content: center;
		.gallery__item{
			margin-right: 2.5rem;
		}
	}


	.main .news__list{
		justify-content: space-around;
		.news__item{
			margin-right: 0;
			flex-basis: 50%;
		}
	}


	.gallery-card a{
		margin-right: 38px;
	}
}


@media (max-width: 930px){
	.homecarousel{
		.owl-nav{
			$w: 750px;
			margin-left: -$w/2;
			width: $w;
		}
		.owl-dots{
			bottom: .5rem;
		}
	}
}



@media (max-width: 850px){
	.homecarousel .item .title{
		margin-top: 1%;
		font-size: 1.8rem;
	}
}



@media (max-width: 768px){
	.homecarousel{
		.item{
			.description{
				width: 98%;
			}
			.container{
				padding-top: 1.2rem;
			}
		}
		.owl-nav{
			display: none;
		}
		.owl-dots{
			bottom: .5rem;
		}
	}

	.homepage .gallery{
		margin-bottom: -1rem;
	}

	.map #map{
		height: 400px;
	}

	.ajaxSearch_grpResult{
		margin-left: 15px;
		margin-right: 15px;
	}
}

@media (max-width: 767px){
	.gallery-card a{
		margin-right: 25px;
		&:last-child{
			margin-right: 0;
		}
	}


	.address{
		.btn-groups{
			flex-wrap: wrap;
			margin-bottom: -1rem;
			a{
				margin-bottom: .8rem;
			}
		}
	}
}

@media (max-width: 750px){
	.homecarousel .item{
		.description{
			height: 100px;
			overflow: hidden;
			padding-top: 2rem;
			padding-bottom: 1.5rem;
		}
		.title{
			padding-left: 0;
			padding-right: 0;
			width: 100%;
		}
	}

	.news{
		.news{
			&__item{
				flex-basis: 50%;
				&:nth-child(3){
					display: none;
				}
				&:nth-child(2){
					padding-right: 0;
				}
			}
		}
	}

	.partnersList{
		ul{
			justify-content: center
		}
	}
}


@media (max-width: 736px){
	.sertificatsList,
	.partnersList ul{
		justify-content: space-around
	}

	.gallery-card a{
		margin-right: 15px;
	}

	.gallery-card{
		justify-content: space-around
	}
}


@media (max-width: 720px){
	.catalog__title{
		text-align: center;
	}
}


@media (max-width: 690px){
	.homepage{
		.gallery a,
		.gallery__item{
			margin-right: 1rem;
		}
	}

}


@media (max-width: 615px){
	.homecarousel{
		display: none !important;
	}	
}



@media (max-width: 600px){
	.news{
		.flexbox{
			display: block;
		}
		.news__item{
			margin-bottom: 1.5rem;
			margin-left: auto;
			margin-right: auto;
			padding-right: 0;
		}
		.news__item:nth-child(3){
			display: block;
		}
	}
}


@media (max-width: 550px){
	.main .news__list .news__item{
		flex-basis: 100%;
		padding-right: 0;
	}
}


@media (max-width: 500px){
	.clients__list{
		display: block;
		a{
			margin-left: auto;
			margin-right: auto;
		}
	}

	.gallery{
		display: block;
		&__item,
		a{
			display: block;
			margin-bottom: 1.5rem !important;
			width: 205px;
			margin-left: auto;
			margin-right: auto !important;
		}
	}

	.text,
	.row p:not(.more)
	{
		text-align: justify;
	}


	.steps__scheme{
		margin-top: 2rem;
		flex-direction: column;
		.num{
			margin: 2rem 0;
			p{
				background: #fff;
				bottom: -25px;
				position: static;
				top: auto;
			}

			i{
				margin-left: auto;
				margin-right: auto;
			}
		}
		&:after{
			background: linear-gradient(to bottom, #ffffff 0%, #0563bf 50%, #fff 100%);
			left: 50%;
			height: 100%;
			width: 1px;
		}
	}


	.map{
		margin-top: 2rem;
	}
	
	.gallery__caption{
		text-align: center;
		justify-content: center;
	}

	.gallery-card{
		margin-bottom: 2rem !important;
	}

	.logotype{
		padding: 2rem 0;
	}

	.pagination .flexbox{
		padding-left: 10px;
		padding-right: 10px;
	}

	// catalog
	.catalog{
		margin-bottom: 0;
		.gallery__item{
			margin-left: auto;
			margin-right: auto;
		}
	}


	.contact-page,
	.order{
		hr{
			width: 90%;
		}
	}

	.map{
		.tab-pane{
			.flexbox{
				display: block;
				.cell{
					text-align: center;
				}
				.cell:first-child{
					margin-bottom: 1.5rem;
				}
			}
		}
	}

	.ajaxSearch_grpResult{
		text-align: justify;
	}
}


@media (max-width: 480px){
	.ajaxSearch_grpResult,
	.ajaxSearch_resultsInfos{
		&:after{
			width: 80%;
			margin-left: -40%;
		}		
	}
}


@media (max-width: 412px){
	.partnersList{
		margin-bottom: 0;
		ul li{
			a{
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	.address .btn-groups a{
		width: 90%;
	}

	.partnersList ul{
		display: block;
	}
}