// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-search-icon-hover-name: 'icon-search-icon-hover';
$icon-search-icon-hover-x: 0px;
$icon-search-icon-hover-y: 0px;
$icon-search-icon-hover-offset-x: 0px;
$icon-search-icon-hover-offset-y: 0px;
$icon-search-icon-hover-width: 33px;
$icon-search-icon-hover-height: 31px;
$icon-search-icon-hover-total-width: 66px;
$icon-search-icon-hover-total-height: 62px;
$icon-search-icon-hover-image: '../images/sprite.png';
$icon-search-icon-hover: (0px, 0px, 0px, 0px, 33px, 31px, 66px, 62px, '../images/sprite.png', 'icon-search-icon-hover', );
$icon-search-icon-name: 'icon-search-icon';
$icon-search-icon-x: 33px;
$icon-search-icon-y: 0px;
$icon-search-icon-offset-x: -33px;
$icon-search-icon-offset-y: 0px;
$icon-search-icon-width: 33px;
$icon-search-icon-height: 31px;
$icon-search-icon-total-width: 66px;
$icon-search-icon-total-height: 62px;
$icon-search-icon-image: '../images/sprite.png';
$icon-search-icon: (33px, 0px, -33px, 0px, 33px, 31px, 66px, 62px, '../images/sprite.png', 'icon-search-icon', );
$icon-search-icon2-name: 'icon-search-icon2';
$icon-search-icon2-x: 0px;
$icon-search-icon2-y: 31px;
$icon-search-icon2-offset-x: 0px;
$icon-search-icon2-offset-y: -31px;
$icon-search-icon2-width: 32px;
$icon-search-icon2-height: 31px;
$icon-search-icon2-total-width: 66px;
$icon-search-icon2-total-height: 62px;
$icon-search-icon2-image: '../images/sprite.png';
$icon-search-icon2: (0px, 31px, 0px, -31px, 32px, 31px, 66px, 62px, '../images/sprite.png', 'icon-search-icon2', );
$spritesheet-width: 66px;
$spritesheet-height: 62px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($icon-search-icon-hover, $icon-search-icon, $icon-search-icon2, );
$spritesheet: (66px, 62px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
