@charset "UTF-8";
.container {
  margin-right: auto;
  margin-left: auto; }

@media (max-width: 767px) {
  .container {
    padding-left: 15px;
    padding-right: 15px; } }

@media (min-width: 768px) {
  .container {
    width: 730px; } }

@media (min-width: 992px) {
  .container {
    width: 940px; } }

@media (min-width: 1199px) {
  .container {
    width: 1100px; } }

@media (min-width: 1400px) {
  .container {
    width: 1260px; } }

/*---------------------------------------------------
    SCSS Elements 0.1
  ---------------------------------------------------
    A set of useful SCSS mixins
  ---------------------------------------------------*/
/*
.columns(@colwidth: 250px, @colcount: 0, @colgap: 50px, @columnRuleColor: #EEE, @columnRuleStyle: solid, @columnRuleWidth: 1px) {
  -moz-column-width: @colwidth;
  -moz-column-count: @colcount;
  -moz-column-gap: @colgap;
  -moz-column-rule-color: @columnRuleColor;
  -moz-column-rule-style: @columnRuleStyle;
  -moz-column-rule-width: @columnRuleWidth;
  -webkit-column-width: @colwidth;
  -webkit-column-count: @colcount;
  -webkit-column-gap: @colgap;
  -webkit-column-rule-color: @columnRuleColor;
  -webkit-column-rule-style: @columnRuleStyle;
  -webkit-column-rule-width: @columnRuleWidth;
  column-width: @colwidth;
  column-count: @colcount;
  column-gap: @colgap;
  column-rule-color: @columnRuleColor;
  column-rule-style: @columnRuleStyle;
  column-rule-width: @columnRuleWidth;
}

*/
/*** reset ***********/
html, body, ul, ol, li, dl, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, a, img, label, figure, figcaption {
  margin: 0;
  padding: 0;
  border: 0; }

header, section, footer, aside, nav, article {
  display: block; }

ul {
  list-style: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%; }

body {
  font-family: "SegoeUIRegular";
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column;
  font-display: swap;
  height: 100vh;
  font-size: 14px;
  font-size: 1.4rem; }

html, body {
  height: 100%; }

input,
textarea {
  font-family: "SegoeUIRegular";
  font-size: 13px;
  font-size: 1.3rem;
  font-style: italic; }

input:focus::-webkit-input-placeholder {
  color: transparent !important; }

input:focus:-moz-placeholder {
  color: transparent !important; }

/* FF 4-18 */
input:focus::-moz-placeholder {
  color: transparent !important; }

/* FF 19+ */
input:focus:-ms-input-placeholder {
  color: transparent !important; }

/* IE 10+ */
textarea:focus::-webkit-input-placeholder {
  color: transparent !important; }

textarea:focus:-moz-placeholder {
  color: transparent !important; }

/* FF 4-18 */
textarea:focus::-moz-placeholder {
  color: transparent !important; }

/* FF 19+ */
textarea:focus:-ms-textarea-placeholder {
  color: transparent !important; }

/* IE 10+ */
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.outerwrapper {
  -webkit-flex: 1;
  flex: 1; }

/*** standart classes *****/
p {
  color: #333; }

a {
  color: #020000; }

h1, .title {
  color: #0563bf;
  font-size: 2.4rem;
  font-weight: normal; }

h2 {
  font-size: 2.4rem; }

h3 {
  font-size: 1.6rem; }

*:focus {
  outline: none; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* font-family: "SegoeUIRegular"; */
@font-face {
  font-family: "SegoeUIRegular";
  src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
  src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"), url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "SegoeUIBold"; */
@font-face {
  font-family: "SegoeUIBold";
  src: url("../fonts/SegoeUIBold/SegoeUIBold.eot");
  src: url("../fonts/SegoeUIBold/SegoeUIBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"), url("../fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "SegoeUIItalic"; */
@font-face {
  font-family: "SegoeUIItalic";
  src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot");
  src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIItalic/SegoeUIItalic.woff") format("woff"), url("../fonts/SegoeUIItalic/SegoeUIItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "SegoeUILight"; */
@font-face {
  font-family: "SegoeUILight";
  src: url("../fonts/SegoeUILight/SegoeUILight.eot");
  src: url("../fonts/SegoeUILight/SegoeUILight.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUILight/SegoeUILight.woff") format("woff"), url("../fonts/SegoeUILight/SegoeUILight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "SegoeUISemiBold"; */
@font-face {
  font-family: "SegoeUISemiBold";
  src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.eot");
  src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUISemiBold/SegoeUISemiBold.woff") format("woff"), url("../fonts/SegoeUISemiBold/SegoeUISemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

.bold, h1, .title, .homecarousel .item .more, .steps .num, .news__item {
  font-family: "SegoeUIBold"; }

i, em, .italic, .more, .feedback__form .row input.form-control, .feedback__form .submit, .policy {
  font-family: "SegoeUIItalic"; }

.tdn, .breadcrumbs ul li a, .feedback .vcard .email, .policy a {
  text-decoration: none; }
  .tdn:hover, .breadcrumbs ul li a:hover, .feedback .vcard .email:hover, .policy a:hover {
    text-decoration: underline; }

.tdu {
  text-decoration: underline; }
  .tdu:hover {
    text-decoration: none; }

.before, .line:after, h1:after, .gallery a:after, .steps__scheme:after, .news__title:after {
  content: "";
  display: block;
  position: absolute; }

.form-control {
  border: 1px solid #0563bf;
  border-radius: 0;
  margin-top: 0.6rem;
  font-size: 16px; }
  .form-control:focus, .form-control:active {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(222, 72, 111, 0.3); }

.flexbox {
  display: flex; }

.owl-carousel .owl-controls {
  position: absolute;
  width: 100%;
  top: 115px; }
  .owl-carousel .owl-controls .owl-buttons .owl-prev,
  .owl-carousel .owl-controls .owl-buttons .owl-next {
    background: url(../images/prevnext.png) no-repeat left top;
    width: 65px;
    height: 65px;
    position: absolute; }
  .owl-carousel .owl-controls .owl-buttons .owl-prev {
    left: -110px; }
  .owl-carousel .owl-controls .owl-buttons .owl-next {
    right: -110px; }

section h1 {
  text-align: center; }

.share {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: "SegoeUIItalic";
  padding-bottom: 3.8rem; }
  .share p {
    padding-bottom: 2rem; }

/* =breadcrumbs
---------------------------*/
.breadcrumbs {
  font-family: "SegoeUIItalic";
  margin-top: 5.5rem;
  margin-bottom: 2.5rem;
  text-transform: lowercase; }
  .breadcrumbs ul li {
    display: inline-block; }
    .breadcrumbs ul li a {
      color: #000; }

/* =/breadcrumbs
---------------------------*/
/* =main
---------------------------*/
.line, h1 {
  position: relative; }
  .line:after, h1:after {
    border-bottom: 1px solid #d5d5d5;
    left: 50%;
    width: 40%;
    margin-left: -20%;
    bottom: 0; }

h1 {
  font-weight: normal;
  margin-bottom: 3rem;
  padding-bottom: 1.2rem;
  padding-top: 3rem;
  text-align: center;
  text-transform: uppercase; }

.text p {
  margin: 1.6rem 0; }

.text ul {
  color: #333; }
  .text ul li {
    position: relative; }
    .text ul li:before {
      content: "-";
      display: inline-block;
      padding-right: 4px; }

.text-center {
  text-align: center; }

.more {
  margin-top: 10px; }
  .more__link {
    border-bottom: 1px dashed transparent;
    color: #0563bf;
    text-decoration: none; }
    .more__link:hover {
      border-bottom: 1px dashed #0563bf; }

/* =listProducts
---------------------------*/
.listProducts {
  margin-top: 2rem;
  flex-wrap: wrap;
  justify-content: space-between; }
  .listProducts__item {
    text-decoration: none; }
    .listProducts__item figure {
      display: block;
      overflow: hidden;
      width: 205px; }
      .listProducts__item figure img {
        -webkit-transition: transform 0.2s ease-out;
        transition: transform 0.2s ease-out;
        vertical-align: top; }
    .listProducts__item figcaption {
      transition: .3s background-color, color ease-out;
      display: flex;
      align-items: center;
      height: 4.6rem;
      padding-left: .9rem;
      background: #e6e6e6;
      color: #333;
      text-transform: uppercase;
      position: relative; }
    .listProducts__item:hover img {
      transform: scale(1.1); }
    .listProducts__item:hover figcaption {
      background-color: #0563bf;
      color: #fff; }

/* =/listProducts
---------------------------*/
.gallery {
  margin-top: 2rem;
  flex-wrap: wrap;
  justify-content: space-between; }
  .gallery img {
    vertical-align: top; }
  .gallery a {
    display: block;
    position: relative;
    overflow: hidden;
    opacity: .55;
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out; }
    .gallery a:after {
      -webkit-transition: opacity 0.2s ease-out;
      transition: opacity 0.2s ease-out;
      background: url(../images/zoom.png) no-repeat center;
      height: 59px;
      left: 50%;
      margin-left: -30px;
      margin-top: -30px;
      top: 50%;
      width: 59px;
      opacity: 0; }
    .gallery a img {
      -webkit-transition: transform 0.2s ease-out;
      transition: transform 0.2s ease-out; }
    .gallery a:hover {
      opacity: 1; }
      .gallery a:hover:after {
        opacity: 1; }
      .gallery a:hover img {
        transform: scale(1.1); }

.map {
  margin-top: 45px; }
  .map #map {
    height: 500px; }

/* =feedback
---------------------------*/
/* =/feedback
---------------------------*/
label.error {
  display: none !important; }

.form-control.error {
  border-color: red !important; }

/* =slider
---------------------------*/
.homecarousel {
  margin-top: 3rem; }
  .homecarousel .item img {
    display: block;
    height: auto;
    width: 100%; }
  .homecarousel .item .container {
    left: 50%;
    margin-left: -585px;
    padding-top: 6.5rem;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0; }
  .homecarousel .item .description {
    font-size: 12px;
    font-size: 1.2rem;
    background-color: rgba(5, 99, 191, 0.9);
    color: #fff;
    line-height: 2;
    margin: 0 auto;
    padding: 2rem;
    width: 90%; }
    .homecarousel .item .description p {
      color: inherit; }
  .homecarousel .item .title {
    font-size: 24px;
    font-size: 2.4rem;
    background-color: #ffc72a;
    color: #000;
    display: inline-block;
    line-height: 1;
    margin-top: 7%;
    padding: 1rem 12rem; }
  .homecarousel .item .more {
    margin-top: 10%; }
    .homecarousel .item .more:before {
      content: "";
      display: block;
      width: 100%; }
    .homecarousel .item .more a {
      font-size: 15px;
      font-size: 1.5rem;
      background-color: #fff;
      color: #000;
      padding: 1rem 5.2rem;
      text-decoration: none;
      transition: .3s background-color, color ease-out; }
      .homecarousel .item .more a:hover {
        color: #0563bf;
        background-color: #ffc72a; }
  .homecarousel .owl-dots {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    bottom: 2.8rem;
    display: flex;
    position: absolute;
    width: 100%; }
    .homecarousel .owl-dots .owl-dot {
      border: 3px solid #fff;
      height: 15px;
      margin: 0 8px;
      width: 15px;
      -webkit-border-radius: 50%;
      border-radius: 50%; }
      .homecarousel .owl-dots .owl-dot.active {
        background: #fff; }
  .homecarousel .owl-nav {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -585px;
    width: 1170px;
    top: 50%; }
    .homecarousel .owl-nav .owl-prev, .homecarousel .owl-nav .owl-next {
      background: url(../images/prevnext.png) no-repeat left top;
      height: 43px;
      position: absolute;
      width: 28px; }
      .homecarousel .owl-nav .owl-prev.disabled, .homecarousel .owl-nav .owl-next.disabled {
        opacity: .6; }
    .homecarousel .owl-nav .owl-next {
      right: 0;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }

/* =slider
---------------------------*/
.homepage .row {
  margin-top: 15px; }

/* =clients
---------------------------*/
.clients__list {
  margin-top: 1.8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .clients__list a {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 125px;
    border: 1px solid #ccc;
    width: 210px;
    text-align: center; }
    .clients__list a:hover img {
      filter: grayscale(0); }
  .clients__list img {
    -webkit-transition: filter 0.2s ease-out;
    transition: filter 0.2s ease-out;
    filter: grayscale(1); }

/* =clients
---------------------------*/
/* =steps
---------------------------*/
.steps__scheme {
  justify-content: space-around;
  margin-top: 6.5rem;
  position: relative; }
  .steps__scheme:after {
    background: linear-gradient(to right, #ffffff 0%, #0563bf 50%, #fff 100%);
    height: 1px;
    width: 100%;
    top: 18px;
    z-index: -1; }

.steps .num {
  background: #0563bf;
  border-radius: 50%;
  color: #fff;
  font-size: 2rem;
  height: 3.5rem;
  text-align: center;
  width: 3.5rem;
  padding-top: .3rem;
  position: relative;
  font-weight: normal; }
  .steps .num p {
    position: absolute;
    top: -30px;
    left: -30px;
    font-size: 1.4rem;
    white-space: nowrap;
    font-family: "SegoeUIRegular"; }
  .steps .num.num-even p {
    top: auto;
    bottom: -30px; }

/* =steps
---------------------------*/
.feedback {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 15px; }
  .feedback .vcard .name {
    display: none; }
  .feedback .vcard .adr {
    margin-top: 20px;
    margin-bottom: 10px; }
  .feedback .vcard .tel {
    text-decoration: none;
    margin-right: .5rem; }
  .feedback .vcard .email {
    margin-left: .5rem; }
  .feedback .vcard p {
    font-size: 14px;
    line-height: 3; }
  .feedback__content {
    padding: 25px 0 10px; }

.feedback .container {
  max-width: 1070px;
  padding-bottom: 15px; }

.feedback__form {
  background: #f2f2f2;
  margin: 1.5rem auto 0;
  padding: .6rem 1rem;
  position: relative; }
  .feedback__form .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    position: relative; }
    .feedback__form .row:first-child {
      margin-top: 0; }
    .feedback__form .row input.form-control,
    .feedback__form .row textarea {
      color: #fff;
      border: 1px solid #0563bf;
      font-size: 15px;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      transition: all .3s; }
      .feedback__form .row input.form-control:disabled,
      .feedback__form .row textarea:disabled {
        cursor: default; }
        .feedback__form .row input.form-control:disabled::-webkit-input-placeholder,
        .feedback__form .row textarea:disabled::-webkit-input-placeholder {
          color: #ccc; }
        .feedback__form .row input.form-control:disabled::-moz-placeholder,
        .feedback__form .row textarea:disabled::-moz-placeholder {
          color: #ccc; }
        .feedback__form .row input.form-control:disabled:-ms-input-placeholder,
        .feedback__form .row textarea:disabled:-ms-input-placeholder {
          color: #ccc; }
        .feedback__form .row input.form-control:disabled:focus::-webkit-input-placeholder,
        .feedback__form .row textarea:disabled:focus::-webkit-input-placeholder {
          transition: line-height 0.5s ease; }
        .feedback__form .row input.form-control:disabled:focus::-moz-placeholder,
        .feedback__form .row textarea:disabled:focus::-moz-placeholder {
          transition: line-height 0.5s ease; }
        .feedback__form .row input.form-control:disabled:focus:-ms-input-placeholder,
        .feedback__form .row textarea:disabled:focus:-ms-input-placeholder {
          transition: line-height 0.5s ease; }
    .feedback__form .row input.form-control {
      border-radius: 3px;
      height: 36px;
      padding-bottom: 4px;
      width: 352px;
      text-align: center; }
      .feedback__form .row input.form-control::-webkit-input-placeholder {
        color: #b2b2b2; }
      .feedback__form .row input.form-control::-moz-placeholder {
        color: #b2b2b2; }
      .feedback__form .row input.form-control:-ms-input-placeholder {
        color: #b2b2b2; }
      .feedback__form .row input.form-control:focus::-webkit-input-placeholder {
        transition: line-height 0.5s ease; }
      .feedback__form .row input.form-control:focus::-moz-placeholder {
        transition: line-height 0.5s ease; }
      .feedback__form .row input.form-control:focus:-ms-input-placeholder {
        transition: line-height 0.5s ease; }
    .feedback__form .row textarea {
      border-radius: 3px;
      flex: 1;
      overflow: hidden;
      height: 8.5rem; }
      .feedback__form .row textarea::-webkit-input-placeholder {
        color: #b2b2b2; }
      .feedback__form .row textarea::-moz-placeholder {
        color: #b2b2b2; }
      .feedback__form .row textarea:-ms-input-placeholder {
        color: #b2b2b2; }
      .feedback__form .row textarea:focus::-webkit-input-placeholder {
        transition: line-height 0.5s ease; }
      .feedback__form .row textarea:focus::-moz-placeholder {
        transition: line-height 0.5s ease; }
      .feedback__form .row textarea:focus:-ms-input-placeholder {
        transition: line-height 0.5s ease; }
    .feedback__form .row .error {
      border: 1px solid red !important; }
  .feedback__form .submit {
    background-image: -webkit-linear-gradient(top, #8fc2d7 0%, #287fa5 100%);
    background-image: -o-linear-gradient(top, #8fc2d7 0%, #287fa5 100%);
    background-image: linear-gradient(to bottom, #8fc2d7 0%, #287fa5 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8FC2D7', endColorstr='#FF287FA5', GradientType=0);
    border-radius: 3px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    height: 36px;
    margin: 20px auto;
    text-transform: lowercase;
    width: 176px; }
    .feedback__form .submit:hover {
      background-image: -webkit-linear-gradient(top, #287fa5 0%, #8fc2d7 100%);
      background-image: -o-linear-gradient(top, #287fa5 0%, #8fc2d7 100%);
      background-image: linear-gradient(to bottom, #287fa5 0%, #8fc2d7 100%);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF287FA5', endColorstr='#FF8FC2D7', GradientType=0); }
  .feedback__form .policy {
    margin-top: 20px; }
  .feedback__form #msg {
    padding-right: 80px; }
  .feedback__form .sending,
  .feedback__form .thank {
    height: 238px;
    padding-top: 105px; }

.policy {
  color: #0563bf; }
  .policy a {
    color: #d5d5d5; }

.user-access + label {
  cursor: pointer;
  font-size: 14px; }

.user-access:not(checked) {
  position: absolute;
  opacity: 0; }

.user-access:not(checked) + label {
  color: #808080;
  display: block;
  position: relative;
  /* будем позиционировать псевдочекбокс относительно label */
  padding: 3px 0 0 40px;
  /* оставляем слева от label место под псевдочекбокс */ }
  .user-access:not(checked) + label a {
    color: #0563bf; }

/* Оформление первой части чекбокса в выключенном состоянии (фон). */
.user-access:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -2px;
  left: 0;
  width: 28px;
  height: 28px;
  background-color: #fff;
  border: 1px solid #0563bf;
  border-radius: 3px;
  text-align: center; }

/* Меняем фон чекбокса, когда он включен. */
/* Сдвигаем переключатель чекбокса, когда он включен. */
.user-access:checked + label:after {
  content: '*';
  position: absolute;
  top: -6px;
  left: 6px;
  width: 22px;
  height: 22px;
  font-size: 36px; }

.sending {
  text-align: center;
  font-size: 17px;
  height: 207px;
  padding-top: 80px; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0); }

.news__list {
  justify-content: space-between; }

.news__item {
  height: 308px;
  color: #004d91;
  border: 1px solid;
  width: 350px;
  text-align: center;
  text-transform: uppercase;
  filter: grayscale(1);
  -webkit-transition: filter 0.2s ease-out;
  transition: filter 0.2s ease-out;
  display: flex;
  align-items: center; }
  .news__item a {
    display: block;
    text-decoration: none; }
  .news__item:hover {
    filter: grayscale(0); }

.news__title {
  color: #004d91;
  font-size: 2.2rem;
  padding-bottom: 1.5rem;
  margin: 0 10px 1.5rem;
  position: relative; }
  .news__title:after {
    background: linear-gradient(to right, #ffffff 0%, #0563bf 50%, #fff 100%);
    height: 1px;
    bottom: 0;
    width: 100%;
    z-index: -1; }

.news__desc {
  color: #004d91;
  padding: 0 2.8rem; }

/* =mobile-menu
---------------------------*/
.navbar-toggle,
.close-menu {
  display: none; }

/* =/mobile-menu
---------------------------*/
@media (max-width: 767px) {
  .navbar-toggle {
    background-color: green;
    border: none;
    cursor: pointer;
    display: block;
    height: 70px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 70px;
    z-index: 99; }
    .navbar-toggle .icon-bar {
      background-color: #fff;
      display: block;
      height: 2px;
      margin: 8px auto;
      width: 30px; }
    .navbar-toggle:hover {
      background-color: #fff; }
      .navbar-toggle:hover .icon-bar {
        background-color: green; }
  .o-menu .close-menu {
    display: block;
    transform: translate(0, 0); }
  .o-menu #navbar {
    display: block;
    transform: translate(-15px, 0);
    z-index: 9999; }
  .close-menu {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    display: block;
    transform: translate(-320px, 0);
    background: none;
    cursor: pointer;
    padding: 0;
    left: 215px;
    background-color: green;
    border: none;
    height: 70px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 70px;
    z-index: 99; }
  #navbar {
    transition: all .2s ease-out;
    background-color: green;
    color: green;
    display: block;
    left: 0;
    padding-top: 15px;
    position: absolute;
    top: 0;
    transform: translate(-305px, 0);
    width: 230px; }
    #navbar .container {
      padding: 0; }
    #navbar ul.mainnav {
      background: none;
      display: block;
      font-size: 15px;
      margin-top: 0;
      padding-left: 15px; }
      #navbar ul.mainnav ul {
        position: static;
        opacity: 1;
        background: none;
        font-size: 14px !important; }
        #navbar ul.mainnav ul li:after {
          top: 12px; }
      #navbar ul.mainnav > li.folder > a:after,
      #navbar ul.mainnav > li.folder > span:after {
        top: 24px !important; }
      #navbar ul.mainnav > li.active > a {
        text-decoration: underline; }
      #navbar ul.mainnav li {
        border-bottom: 1px solid #fff; }
        #navbar ul.mainnav li a, #navbar ul.mainnav li span {
          color: #fff;
          display: block;
          height: auto;
          line-height: normal;
          padding: 18px 0 18px 10px;
          text-decoration: none;
          text-transform: none; }
          #navbar ul.mainnav li a:hover, #navbar ul.mainnav li span:hover {
            color: #fff;
            text-decoration: underline; }
        #navbar ul.mainnav li.active, #navbar ul.mainnav li:hover {
          border-bottom: 1px solid #fff;
          color: #fff; }
          #navbar ul.mainnav li.active a, #navbar ul.mainnav li.active span, #navbar ul.mainnav li:hover a, #navbar ul.mainnav li:hover span {
            background: none; }
        #navbar ul.mainnav li.folder > a,
        #navbar ul.mainnav li.folder > span {
          position: relative; }
          #navbar ul.mainnav li.folder > a:after,
          #navbar ul.mainnav li.folder > span:after {
            background: url(../images/arrow.png) no-repeat left bottom;
            content: "";
            display: block;
            height: 12px;
            position: absolute;
            right: 10px;
            top: 9px;
            width: 8px; }
        #navbar ul.mainnav li.folder ul.show {
          display: block; }
        #navbar ul.mainnav li.folder.open > a:after,
        #navbar ul.mainnav li.folder.open > span:after {
          background-position: left top;
          width: 12px;
          height: 8px; }
        #navbar ul.mainnav li.folder .folder {
          padding-left: .5rem;
          padding-right: 0; }
          #navbar ul.mainnav li.folder .folder > a:after,
          #navbar ul.mainnav li.folder .folder > span:after {
            display: none; }
          #navbar ul.mainnav li.folder .folder li ul li {
            position: relative; }
            #navbar ul.mainnav li.folder .folder li ul li a:before {
              content: "-";
              z-index: 10;
              position: absolute;
              left: 4px;
              top: 8px; }
          #navbar ul.mainnav li.folder .folder li ul.folder > ul {
            display: none !important; }
        #navbar ul.mainnav li.active a:hover {
          color: #fff; }
        #navbar ul.mainnav li.active > ul {
          display: block; }
          #navbar ul.mainnav li.active > ul .active .active a {
            font-weight: bold;
            text-decoration: underline; }
        #navbar ul.mainnav li ul {
          display: none;
          font-size: 12px;
          width: auto !important;
          border-top: none; }
          #navbar ul.mainnav li ul li {
            border-bottom: none;
            padding-left: 7px; }
            #navbar ul.mainnav li ul li a, #navbar ul.mainnav li ul li span {
              padding: 10px 0 10px 10px; }
            #navbar ul.mainnav li ul li.active, #navbar ul.mainnav li ul li:hover {
              border-bottom: none;
              color: green; }
            #navbar ul.mainnav li ul li ul {
              padding-top: 0; }
              #navbar ul.mainnav li ul li ul li {
                padding-right: 0; }
                #navbar ul.mainnav li ul li ul li:hover {
                  background: none; }
                #navbar ul.mainnav li ul li ul li.folder.active > a {
                  text-decoration: underline; }
                #navbar ul.mainnav li ul li ul li ul li.active a {
                  text-decoration: underline; } }

::-ms-clear {
  display: none; }
